.container{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding:15px 60px;
}
.logoContainer{
  position: relative;
  width: 56px;
  height: 56px;
}

.logoContainer img{
  position: absolute;
}

@media (max-width:767px){
  .logoContainer{    
    width: 48px;
    height: 48px;
  }
}