.swiperContainer{    
    position: relative;
    height: 480px;     
}

.swiperContainer .img{
    object-fit: cover; 
    object-position: top center;  
}
.imgTitle{
    position: absolute;
    z-index: 5;
    background-color: #444852ad;
    color: #fff;
    padding:8px 20px;
    border-radius: 25px;
    text-align: right;
    bottom: 10px;
    right:10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


@media (max-width:1024px) {    
    .swiperContainer{
        height: 320px;    
    }
}