.mySwiperBlock{
    position: relative;
}
.mySwiper{
    width: 100%;
    max-width: 600px;
}
.swiperContainer{    
    position: relative;
    width: 100%;
    height: 600px;    
}

.swiperContainer .img{
    object-fit: cover;
}


@media (max-width:1024px) {
    .mySwiper{
        min-width: 320px;
        max-width: 480px;
    }
    .swiperContainer{
        height: 320px;    
    }
}