.container {
  display: flex;
  min-height: calc(100dvh - 220px);
  padding: 100px 30px;
  margin: 0 auto;
  max-width: 1280px;
  width:100%;
  gap: 60px;
}
.container h1{
  margin-bottom: 0;
}
.imageBlock{
  width: 60%;
}
.imgContainer {
  position: relative;
  width: 600px;  
}
.imgContainer2 {
  position: relative;
  max-width: 500px;
  width: 100%;
}
.imgContainer img{
  width: 100%;
  height: auto;
}
.productTitle {
  display: flex;
  gap:20px;  
  align-items: flex-end;
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 1.6rem;
  letter-spacing: 2px;  
}
.golook{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:5px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;  
  color: rgb(180, 151, 97);
  border-bottom: 2px solid rgb(180, 151, 97);
  padding: 5px 0px;  
  width: 150px;
  margin-left: auto;
  margin-bottom: 20px;
  transition: 0.5s;
  line-height: 1.8;
  width: 100%;   
}
.golook:hover{
  line-height: 1.4;  
}
.golook svg{
  transition: 0.3s;
}
.golook:hover svg{
  transform: translateX(6px);
}
.details{
  display: flex;
  flex-direction: column;  
  gap:10px; 
  width: clamp(500px ,50% , 800px);
}

.tagPools{
  display: flex;
  gap:10px;
  margin-top: 30px;
}

.cateTag{
  padding: 5px 10px;
  border: 1px solid var(--bgDeep);
  color:var(--bgDeep);
  border-radius: 5px;
}

.editIcon{  
  display: flex;
  border-bottom: 1px solid gray;
  align-items: center;
  gap:5px;
}

.bottomBlock{
  border-top: 1px dashed gray;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 20px;
  gap: 5px;
}

.desc{
  margin-top: 10px;
  font-family: 'Noto Sans TC';
  font-size: 1rem;
  line-height: 2rem;
}

.sTitle{
  font-weight: bold;
  padding-right: 8px;
  position: relative;
}

.sTitle::after{
  content: '';
  background-color: rgb(255, 212, 138);
  height: 8px;
  width: 90%;
  mix-blend-mode: multiply;
  position: absolute;
  left:0px;
  bottom: -2px;
  border-radius: 5px;
}

@media (max-width:1024px){
  .container {
    max-width: 700px;    
    align-items: center;
    flex-direction: column-reverse;
  }
  .details{
    width: 520px;
    margin-top: 0px;
  }
  .noPhotos{
    font-size: 0.85rem;
    letter-spacing: 0;
    color:rgb(91, 97, 97)
  }
  .imageBlock{
    width: 100%;
  }
}

@media (max-width:767px){
  .productTitle {
    flex-direction: column;
    align-items: flex-start;
  }
  .details{
    width:100%;
    margin-top: 0px;
    font-size: 0.92rem;    
  }
  .desc{
    font-size: 0.92rem;
  }

  .container{
    padding:40px 30px;
    gap:30px;
    
  }
  .golook{
    font-size: 1rem;
    border-width: 1px;
  }
  .imgContainer{
    width: 100%;
  }
  
}